@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:rgb(17 24 39);
}

.active{
  color:azure
}

.profile {
  bottom: -100%;
  transition: all 0.5s;   
  align-items: center;
}

.iamageprofile:hover .profile {
  bottom: 0;
}